aiocache==0.12.3
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
aiosqlite==0.20.0
altair==5.5.0
annotated-types==0.7.0
anyio==4.7.0
APScheduler==3.11.0
asttokens==3.0.0
asyncpg==0.30.0
attrs==24.3.0
base58==2.1.1
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.9.0
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
construct==2.10.68
construct-typing==0.5.6
contourpy==1.3.1
cycler==0.12.1
dash==2.18.2
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
docutils==0.21.2
entrypoints==0.4
executing==2.1.0
Faker==33.1.0
fastapi==0.115.6
favicon==0.7.0
Flask==3.0.3
fonttools==4.55.3
frozenlist==1.5.0
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.1.1
h11==0.14.0
htbuilder==0.7.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
idna==3.10
ifaddr==0.2.0
importlib_metadata==8.5.0
ipython==8.31.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
joblib==1.4.2
jsonalias==0.1.1
jsonpickle==4.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
markdown2==2.5.2
markdownlit==0.0.7
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.1.0
narwhals==1.18.4
nest-asyncio==1.6.0
networkx==3.4.2
nicegui==2.9.0
nltk==3.9.1
numpy==2.2.0
orjson==3.10.13
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
plotext==5.3.2
plotly==5.24.1
prometheus_client==0.21.1
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf==5.29.1
pscript==0.7.7
ptyprocess==0.7.0
pure_eval==0.2.3
pyaes==1.6.1
pyarrow==18.1.0
pyasn1==0.6.1
pydantic==2.10.4
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.18.0
pymdown-extensions==10.13
pyparsing==3.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.16.1
Pyrogram==2.0.106
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.2
python-multipart==0.0.20
python-socketio==5.12.1
pytz==2024.2
pyvis==0.3.2
PyYAML==6.0.2
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
retrying==1.3.4
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
setuptools==75.6.0
simple-websocket==1.1.0
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
solana==0.36.1
solders==0.23.0
soupsieve==2.6
SQLAlchemy==2.0.36
st-annotated-text==4.0.1
st-theme==1.2.3
stack-data==0.6.3
starlette==0.41.3
streamlit==1.41.1
streamlit-autorefresh==1.0.1
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.5.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.2.4
streamlit-lottie==0.0.5
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
telegram==0.0.1
Telethon==1.38.1
tenacity==9.0.0
textblob==0.18.0.post0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
uvicorn==0.34.0
uvloop==0.21.0
validators==0.34.0
vbuild==0.8.2
watchdog==6.0.0
watchfiles==1.0.3
wcwidth==0.2.13
websockets==12.0
Werkzeug==3.0.6
wsproto==1.2.0
yappi==1.6.10
yarl==1.18.3
zipp==3.21.0
